*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FCFCFC;
  color: #0D0D0D;
  display: grid;
  font-family: soleil, sans-serif;
  min-width: 100vw;
}

/*=============================== fonts ===============================*/
h1, h2, h3, h4, h5, p, a, button, li, .label, input, textarea, label {
  line-height: 1.4;
}

h1, h3, h4, h5, h6, .label_d, .label_t, label, .quote, .bold {
  font-weight: 700;
}

/*--------- headings and paragraphs --------*/

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
  font-weight: 600;
}

h3, .quote {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

.hero h4 {
  color: #353535;
}

h5, p, a, li {
  font-size: 1.7rem;
}

h6, .up_description {
  font-size: 1.4rem;
}

figcaption {
  color: #353535;
  font-size: 1.2rem;
  margin-top: 0.5em;
}

/*--------- links --------*/

a {
  color: #353535;
  text-decoration: none;
}

a:hover {
  color: #0D0D0D;
  text-decoration: underline;
  text-decoration-color: #0D0D0D;
}

.email, .number {
  color: #D7D7D7;
  font-size: 1.7rem;
}

.email:hover, .number:hover {
  color: #FCFCFC;
  text-decoration: underline;
}

/*--------- projects --------*/

.label_d, .label_t, label {
  font-size: 1.2rem;
}

.label_d, .label_t {
  color: #353535;
}

/*--------- about page quote --------*/

.quote {
  text-align: center;
  margin-top: 1.8em;
  padding: 0.6em 0px 0.6em 0px;
  border-top: 1px solid #0D0D0D;
  border-bottom: 1px solid #0D0D0D;
}

/*=============================== structure ===============================*/

/*--------- layout --------*/

/*----- Home -----*/
header {
  box-shadow: 2px 4px 5px rgba(13, 13, 13, .25);
  padding: 23px 16px;
}

/* nav {
  display: none;
} */

main {
  margin: 5.9113vh 16px;
}

.home {
  margin-top: 11.8226vh;
}

.hero {
  text-align: center;
}

.projects {
  margin-top: 4.6rem;
}

.footer {
  color: #FCFCFC;
  background-color: #0D0D0D;
  padding: 4.8em 16px 13.1em 16px;
}


/*----- About -----*/
.about_me_photos {
  width: 100%;
  height: 100%;
  margin-top: 4.8em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}


/*----- CORE -----*/
.summary_list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-template-rows: auto;
  margin-top: 1.2em;
}

.tools, .duration {
  grid-column: 1/2;
}

.deliverables {
  grid-column: 2/3;
  grid-row: 1/4;
}

.up {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-columns: auto;
  grid-column-gap: 20px;
}

.demo {
  grid-column: 1/2;
}

.up_GF {
  grid-column: 2/3;
  grid-row: 1/2;
}

.image_grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap:2.0em;
  margin-top: 0.6em;
}


/*--------- words --------*/

/*-- CORE --*/
.CORE_h {
  margin-top: 0.2em;
}

.label_d {
  margin-top: 0px;
}

.label_t {
  margin-top: 0.5em;
}

.CORE_copy {
  margin-top: 0.7058em;
}

/*-- about & case studies --*/
.section_1 {
  margin-top: 3.6em;
}

.section_2 {
  margin-top: 2.4em;
}

.section_3, .first {
  margin-top: 1.2em;
}

p {
  margin-top: 0.7058em;
}

.first_par {
  margin-top: 0.3529em;
}

.first_pic {
  margin-top: 0.6em;
}

.cp_heading {
  margin-top: 0.4285em;
}

.cp_par {
  margin-top: 0px;
}

/*-- footer headings --*/

.email, .number {
  display: block;
  margin-top: 0.7058em;
}

.form_heading {
  margin-bottom: 0.6em;
}

.contact_info {
  margin-top: 3.6em;
}

.contact_messsage {
  margin-top: 3.6em;
}


/*-- list --*/

ul, ol {
  list-style-position: outside;
  margin-left: 32px;
  margin-top: 1.2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.demo {
  list-style: none;
  margin-left: 0px;
}

.mini_list_item, .up_mini_list_item {
  font-size: 1.4rem;
}

.goals, .demo, .frust, .tools, .duration, .deliverables, .what {
  margin-top: 1.2em;
}

.items, .up_items {
  margin-top: 0.6em;
}

.navbar {
  list-style: none;
  margin: 0px;
}


/*=============================== elements ===============================*/
/*----------buttons-----------*/
button {
  background-color: #0D0D0D;
  border: none;
  color: #FCFCFC;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2.4rem;
  padding: 0.8571em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.secondary {
  background-color: rgba(0, 0, 0, 0%);
  border-color: #0D0D0D;
  border-style: solid;
  border-width: 1px;
  color: #0D0D0D;
  margin-top: 1.2rem;
}

.footer button {
  border-color: #353535;
  color: #707070;
  margin-top: 2.4rem;
}

.footer button:hover {
  background-color: #FCFCFC;
}

button:hover {
  background-color: #D7D7D7;
  border-color: #D7D7D7;
  color: #0D0D0D;
}

.projects button:hover {
  background-color: #FCFCFC;
}

button:active, button:focus, .projects button:active, .projects button:focus, .footer button:active, .footer button:focus {
  background-color: #353535;
  border-color: #353535;
  color: #FCFCFC;
  outline: none;
}

/*---------- images -----------*/
img {
  width: 100%;
}

.logo {
  width: 42.93%;
}

.hero_pic {
  display: block;
  margin: 1.2em auto 2.4em auto;
  width: 46.9387%;
}

.section_pic {
  margin-top: 4.8em;
}

.inside_pic {
  margin-top: 1.2em;
}

.main_pic {
  margin-top: 1.2em;
}

.mobile_line {
  background-image: url(../assets/images/homepage/mobile_line.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30vh;
  margin-top: 1.2em;
  width: 100%;
}

.project_1, .project_1_CORE {
  background-color: #C3D3E8;
  margin-top: 2.4em;
  padding-top: 4.8em;
  padding-left: 2.4em;
  padding-bottom: 2.5em;
}

.project_1_CORE {
  margin-top: 1.2em;
}

.CORE_writing {
  margin-right: 2.4em;
  margin-bottom: 2.3em;
}


/*---------- icons -----------*/

.linkedin, .instagram, .twitter, .github, .hamburger, .close {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 24px;
  display: inline-block;
  height: 24px;
  margin-top: 12px;
  margin-right: 12px;
  width: 24px;
}

.linkedin {
  background-image: url(../assets/icons/linkedin.png);
}

.instagram {
  background-image: url(../assets/icons/instagram.png);
}

.twitter {
  background-image: url(../assets/icons/twitter.png);
}

.github {
  background-image: url(../assets/icons/github.png);
}


.hamburger {
  background-image: url(../assets/icons/hamburger.png);
}

.close {
  background-image: url(../assets/icons/x.png);
}
/*---------- Input Fields -----------*/
input, textarea {
  background-color: #353535;
  border: none;
  color: #707070;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1.2em;
  margin-top: 0.6em;
  padding: 0.7857em 1.1428em;
  width: 100%;
}

textarea {
  margin-bottom: 0px;
}

input:active, input:focus, textarea:active, textarea:focus {
  background-color: #FCFCFC;
  color: #0D0D0D;
  outline-color: #2375F0;
  outline-width: thick;
}
