*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FCFCFC;
  color: #0D0D0D;
  display: grid;
  font-family: soleil, sans-serif;
  min-width: 100vw;
}

/*------------------------------ fonts ------------------------------*/
h1, h2, h3, h4, h5, p, a, button, li, .label, input, textarea, label {
  line-height: 1.4;
}

h1, h3, h4, h5, .label_d, .label_t, label {
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

.hero h4 {
  color: #353535;
}

h5, p, a, li  {
  font-size: 1.7rem;
}

h6 {
  font-size: 1.4rem;
}

figcaption {
  color: #353535;
  font-size: 1.2rem;
}

a {
  color: #353535;
  text-decoration: none;
}

.label_d, .label_t, label {
  font-size: 1.2rem;
}

.label_d, .label_t {
  color: #353535;
}

.email, .number {
  color: #D7D7D7;
  font-size: 1.7rem;
}



/*------------------------------ structure ------------------------------*/
header {
  box-shadow: 2px 4px 5px rgba(13, 13, 13, .25);
  padding: 23px 16px;
}

 nav {
  display: none;
}

main {
  padding: 5.9113vh 16px;
}

.home {
  padding-top: 11.8226vh;
}

.hero {
  text-align: center;
  /* height: 100vh; */
}

.projects {
  padding-top: 4.6rem;
}

.CORE_h {
  padding-top: 0.2em;
}

.label_t {
  padding-top: 0.5em;
}

.CORE_copy {
  padding-top: 0.7058em;
}

.footer {
  color: #FCFCFC;
  background-color: #0D0D0D;
  padding: 4.8em 16px 13.1em 16px;
}

.email, .number {
  display: block;
  padding-top: 0.7058em;
}

.form_heading {
  margin-bottom: 0.6em;
}

.contact_info {
  margin-top: 3.6em;
}

.contact_messsage {
  margin-top: 3.6em;
}


/*------------------------------ elements ------------------------------*/

/*----------buttons-----------*/

button {
  background-color: #0D0D0D;
  border: none;
  color: #FCFCFC;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2.4rem;
  padding: 0.8571em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.secondary {
  background-color: rgba(0, 0, 0, 0%);
  border-color: #0D0D0D;
  border-style: solid;
  border-width: 1px;
  color: #0D0D0D;
  margin-top: 1.2rem;
}

.footer button {
  border-color: #353535;
  color: #707070;
  margin-top: 2.4rem;
}

.footer button:hover {
  background-color: #FCFCFC;
}

button:hover {
  background-color: #D7D7D7;
  border-color: #D7D7D7;
  color: #0D0D0D;
}

.projects button:hover {
  background-color: #FCFCFC;
}

button:active, button:focus, .projects button:active, .projects button:focus, .footer button:active, .footer button:focus {
  background-color: #353535;
  border-color: #353535;
  color: #FCFCFC;
  outline: none;
}

/*---------- images -----------*/

img {
  width: 100%;
}

.logo {
  width: 42.93%;
}

.hero_pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.4em;
  padding-top: 1.2em;
  width: 46.9387%;
}

.mobile_line {
  background-image: url(../assets/images/homepage/mobile_line.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30vh;
  margin-top: 1.2em;
  width: 100%;
}

.project_1 {
  background-color: #C3D3E8;
  margin-top: 2.4em;
  padding: 4.8em 2.4em;
}

.linkedin, .instagram, .twitter, .github {
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 background-size: 24px;
 display: inline-block;
 height: 24px;
 margin-top: 12px;
 margin-right: 12px;
 width: 24px;
}

.linkedin {
  background-image: url(../assets/icons/linkedin.png);
}

.instagram {
  background-image: url(../assets/icons/instagram.png);
}

.twitter {
  background-image: url(../assets/icons/twitter.png);
}

.github {
  background-image: url(../assets/icons/github.png);
}


/*---------- Input Fields -----------*/

input, textarea {
  background-color: #353535;
  border: none;
  color: #707070;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1.2em;
  margin-top: 0.6em;
  padding: 0.7857em 1.1428em;
  width: 100%;
}
